*{
    margin: 0;
    padding: 0;
}
#cabecalho{
    height: 15;
    width: 100vw;
    background-color: black;
}

.corPreto{
    background-color: black !important
}
.corPreto a{
    background-color: white
}
.corPreto a:hover{
    color:orange;
}
.corPreto a:active{

    color: aqua;
}
.corPreto a:focus{
    color: orangered;
}

body{
    overflow-x: hidden;
}